#stalk_window, #stalk_window h1, #stalk_window h2, #stalk_window h3, #stalk_window h4, #stalk_window h5, #stalk_window h6, #stalk_window p, #stalk_window form, #stalk_window select, #stalk_window option, #stalk_window pre, #stalk_window div, #stalk_window fieldset, #stalk_window li, #stalk_window iframe, #stalk_window strong, #stalk_window legend, #stalk_window em, #stalk_window span, #stalk_window input, #stalk_window sup, #stalk_window label, #stalk_window dfn, #stalk_window object, #stalk_window big, #stalk_window q, #stalk_window font, #stalk_window samp, #stalk_window acronym, #stalk_window small, #stalk_window img, #stalk_window strike, #stalk_window code, #stalk_window sub, #stalk_window ins, #stalk_window textarea, #stalk_window var, #stalk_window a, #stalk_window abbr, #stalk_window applet, #stalk_window del, #stalk_window kbd, #stalk_window tt, #stalk_window b, #stalk_window i, #stalk_window hr, #stalk_window article, #stalk_window aside, #stalk_window dialog, #stalk_window figure, #stalk_window footer, #stalk_window header, #stalk_window hgroup, #stalk_window menu, #stalk_window nav, #stalk_window section {
    background-attachment: scroll;
    background-color: transparent;
    background-image: none;
    background-position: 0 0;
    background-repeat: repeat;
    border-color: black;
    border-style: none;
    border-width: medium;
    clear: none;
    clip: auto;
    color: inherit;
    counter-increment: none;
    counter-reset: none;
    cursor: auto;
    direction: inherit;
    display: inline;
    float: none;
    font-family: inherit;
    font-size: inherit;
    font-style: inherit;
    font-variant: normal;
    font-weight: inherit;
    height: auto;
    letter-spacing: normal;
    line-height: inherit;
    list-style-type: inherit;
    list-style-position: inside;
    list-style-image: none;
    margin: 0;
    max-height: none;
    max-width: none;
    outline: invert none medium;
    overflow: visible;
    padding: 0;
    position: static;
    quotes: "" "";
    table-layout: auto;
    text-align: inherit;
    text-decoration: inherit;
    text-transform: none;
    unicode-bidi: normal;
    vertical-align: baseline;
    visibility: visible;
    white-space: normal;
    width: auto;
    word-spacing: normal;
    z-index: auto;
    border-radius: 0;
    -moz-border-radius: 0;
    -webkit-border-radius: 0;
    opacity: 1
}

#stalk_window, #stalk_window th, #stalk_window table, #stalk_window h3, #stalk_window h5, #stalk_window p, #stalk_window h1, #stalk_window td, #stalk_window dl, #stalk_window tr, #stalk_window dt, #stalk_window h6, #stalk_window ol, #stalk_window form, #stalk_window select, #stalk_window option, #stalk_window pre, #stalk_window div, #stalk_window tbody, #stalk_window h2, #stalk_window tfoot, #stalk_window caption, #stalk_window thead, #stalk_window h4, #stalk_window ul, #stalk_window address, #stalk_window blockquote, #stalk_window dd, #stalk_window fieldset, #stalk_window textarea, #stalk_window hr, #stalk_window article, #stalk_window aside, #stalk_window dialog, #stalk_window figure, #stalk_window footer, #stalk_window header, #stalk_window hgroup, #stalk_window menu, #stalk_window nav, #stalk_window section {
    display: block
}

#stalk_window nav ul, #stalk_window nav ol {
    list-style-type: none
}

#stalk_window ul, #stalk_window menu {
    list-style-type: disc
}

#stalk_window ol {
    list-style-type: decimal
}

#stalk_window ol ul, #stalk_window ul ul, #stalk_window menu ul, #stalk_window ol menu, #stalk_window ul menu, #stalk_window menu menu {
    list-style-type: circle
}

#stalk_window ol ol ul, #stalk_window ol ul ul, #stalk_window ol menu ul, #stalk_window ol ol menu, #stalk_window ol ul menu, #stalk_window ol menu menu, #stalk_window ul ol ul, #stalk_window ul ul ul, #stalk_window ul menu ul, #stalk_window ul ol menu, #stalk_window ul ul menu, #stalk_window ul menu menu, #stalk_window menu ol ul, #stalk_window menu ul ul, #stalk_window menu menu ul, #stalk_window menu ol menu, #stalk_window menu ul menu, #stalk_window menu menu menu {
    list-style-type: square
}

#stalk_window li {
    display: list-item;
    min-height: auto;
    min-width: auto
}

#stalk_window strong {
    font-weight: bold
}

#stalk_window em {
    font-style: italic
}

#stalk_window kbd, #stalk_window samp, #stalk_window code {
    font-family: monospace
}

#stalk_window a, #stalk_window a *, #stalk_window input[type=submit], #stalk_window button, #stalk_window input[type=radio], #stalk_window input[type=checkbox], #stalk_window select {
    cursor: pointer
}

#stalk_window a:hover {
    text-decoration: underline
}

#stalk_window input[type=hidden] {
    display: none
}

#stalk_window abbr[title], #stalk_window acronym[title], #stalk_window dfn[title] {
    cursor: help;
    border-bottom-width: 1px;
    border-bottom-style: dotted
}

#stalk_window ins {
    background-color: #ff9;
    color: black
}

#stalk_window del {
    text-decoration: line-through
}

#stalk_window blockquote, #stalk_window q {
    quotes: none
}

#stalk_window blockquote:before, #stalk_window blockquote:after, #stalk_window q:before, #stalk_window q:after, #stalk_window li:before, #stalk_window li:after {
    content: "";
    content: none
}

#stalk_window input, #stalk_window select {
    vertical-align: middle
}

#stalk_window select, #stalk_window textarea, #stalk_window input {
    border: 1px solid #ccc
}

#stalk_window table {
    border-collapse: collapse;
    border-spacing: 0
}

#stalk_window hr {
    display: block;
    height: 1px;
    border: 0;
    border-top: 1px solid #ccc;
    margin: 1em 0
}

#stalk_window *[dir=rtl] {
    direction: rtl
}

#stalk_window mark {
    background-color: #ff9;
    color: black;
    font-style: italic;
    font-weight: bold
}

#stalk_window input[type=submit], #stalk_window_base button {
    width: auto;
    font-size: 12px;
    padding: 3px 10px;
    margin: 5px 0 10px 0;
    border-radius: 3px;
    min-height: 0;
    clear: both
}

#stalk_window button:disabled {
    cursor: inherit
}

#stalk_window {
    font-size: 100%;
    line-height: 1;
    direction: ltr;
    text-align: left;
    font-family: "Times New Roman", Times, serif;
    color: black;
    font-style: normal;
    font-weight: normal;
    text-decoration: none
}

#stalk_window input[type='submit'], #stalk_window button {
    width: auto;
    font-size: 14px
}

#stalk_window[class*="span"] {
    float: none;
    margin-left: 0
}

#stalk_window.stalk_window_base {
    display: block !important;
    z-index: 99999999
}

#stalk_window #stalk_panel {
    overflow: hidden
}

#stalk_window #stalk_body {
    padding: 6px 10px 3px 10px
}

*:first-child + html #stalk_window #stalk_body {
    padding: 6px 0 0 0
}

#stalk_window textarea {
    max-width: 100%;
    width: 100%;
    box-sizing: content-box;
    resize: none;
    overflow: hidden
}

#stalk_window #stalk_input_textarea {
    resize: vertical !important;
    overflow: auto !important;
    max-height: 500px !important
}

*:first-child + html #stalk_window textarea {
    width: 97%
}

#stalk_window #stalk_input {
    margin-left: -17px;
    margin-right: -5px
}

*:first-child + html #stalk_window #stalk_input {
    margin-left: 0;
    margin-right: 0;
    width: 95%
}

#stalk_window #stalk_chatform {
    padding: 3px 10px 0 10px
}

#stalk_window #stalk_conversation {
    padding: 6px 10px 0 10px;
    margin: -6px -10px 0 -10px
}

*:first-child + html #stalk_window #stalk_conversation {
    width: 97%
}

#stalk_window {
    font-family: "Helvetica Neue", Arial, Helvetica, Geneva, sans-serif;
    font-size: 14px
}

#stalk_body {
    line-height: 1.5em
}

#stalk_window #stalk_contents {
    border-left: 1px solid #ededed;
    border-right: 1px solid #ededed;
    border-bottom: 1px solid #ededed
}

#stalk_window.stalk_window_position_inline .stalk_panel_border {
    border-bottom: 1px solid #ededed
}

#stalk_window .stalk_conversation {
    background: transparent none repeat scroll 0 0;
    border-bottom: 1px dotted #ededed;
    line-height: 1.5em;
    overflow: auto;
    color: black;
    width: 100%
}

#stalk_window #stalk_input_textarea {
    background: transparent none repeat scroll 0 0;
    overflow: auto;
    padding: 5px;
    vertical-align: text-top;
    line-height: 1.5em
}

#stalk_window .stalk_input_textarea_normal {
    border: 1px solid #b6b6b6;
    color: black
}

#stalk_window .stalk_input_textarea_pre {
    color: gray
}

#stalk_window .stalk_input_textarea_highlighted {
    border-color: gray !important;
    color: black
}

#stalk_window .stalk_message {
    background: transparent none repeat scroll 0 0;
    color: black;
    padding: 0;
    margin: 0 0 0 20px;
    text-indent: -20px;
    overflow: visible;
    line-height: 1.4em
}

#stalk_window .small_name {
    font-size: 11px;
    display: block;
}

#stalk_window .stalk_message_clearfix {
    background: transparent none repeat scroll 0 0;
    color: black;
    padding: 0;
    overflow: visible;
    line-height: 1.4em;
    clear: both;
}

#stalk_window .stalk_message_me {
    color: #979797;
    padding-right: 5px;
    display: inline
}

#stalk_window .stalk_messages_to {
    background: transparent none repeat scroll 0 0;
    color: #979797;
    padding: 0;
    overflow: visible;
}

#stalk_window .messages_to {
    float: right;
    background-color: #dbedfe;
    background-image: -webkit-gradient(linear, center bottom, center top, from(#c7defe), to(#e7f1fe));
    background-image: -webkit-linear-gradient(bottom, #c7defe, #e7f1fe);
    border: 1px solid #dfdfdf;
    border: 1px solid rgba(0, 0, 0, .18);
    border-bottom-color: rgba(0, 0, 0, .29);
    -webkit-border-radius: 4px;
    -webkit-box-shadow: 0 1px 0 #dce0e6;
    color: #3e454c;
    padding: 2px 4px 2px 4px;
    clear: both;
    max-width: 250px;
    text-overflow: ellipsis;
    overflow-x: hidden;
    margin-bottom: 8px;
    word-wrap: break-word;
    text-align: left;
    text-shadow: rgba(255, 255, 255, .5) 0 1px 0;
}

#stalk_window .messages_from {
    float: left;
    background-color: #f7f7f7;
    background-image: -webkit-gradient(linear, center bottom, center top, from(#f2f2f2), to(#fff));
    background-image: -webkit-linear-gradient(bottom, #f2f2f2, #fff);
    border: 1px solid rgba(0, 0, 0, .18);
    border-bottom-color: rgba(0, 0, 0, .29);
    -webkit-border-radius: 4px;
    -webkit-box-shadow: 0 1px 0 #dce0e6;
    color: #3e454c;
    padding: 2px 4px 2px 4px;
    max-width: 216px;
    text-overflow: ellipsis;
    overflow-x: hidden;
    margin-bottom: 8px;
    word-wrap: break-word;
    text-align: left;
    text-shadow: rgba(255, 255, 255, .5) 0 1px 0;
    margin-left: 2px;
}

#stalk_window .stalk_message_note {
    color: #979797;
    padding-right: 2px;
    display: inline
}

#stalk_window .stalk_message_from {
    color: #5ba0d0;
    padding-right: 5px display : block;
}

#stalk_window .stalk_message > span:empty {
    padding-right: 0
}

#stalk_window .stalk_message > span:empty + span {
    display: inline-block;
    text-indent: 0
}

#stalk_window #stalk_topbar {
    background: #5ba0d0 none repeat scroll 0 0;
    color: #FFF;
    padding: 10px;
    cursor: pointer
}

#stalk_window #stalk_oplink {
    color: white;
    text-decoration: none;
    text-transform: uppercase;
    font-weight: bold;
    /*font-family: helvetica, sans-serif !important; */
    text-align: center !important;
}

#stalk_window #stalk_oplink.stalk_oplink_hover {
    text-decoration: underline
}

#stalk_window .clear_style {
    clear: both
}

#stalk_window .stalk_button {
    float: right;
    margin-top: -1px;
    margin-left: 4px;
    padding: 0;
    width: 16px;
    height: 16px;
    border-radius: 5px !important;
    -moz-border-radius: 5px !important;
    -webkit-border-radius: 5px !important;
    background-position: 0 top;
    background-repeat: no-repeat !important;
    cursor: pointer !important;
    overflow: hidden;
    line-height: 1000px;
    background-image: url(stalk.png)
}

#stalk_window .stalk_button_logout {
    float: right;
    margin-top: -1px;
    margin-left: 4px;
    padding: 0;
    width: 16px;
    height: 16px;
    border-radius: 5px !important;
    -moz-border-radius: 5px !important;
    -webkit-border-radius: 5px !important;
    background-position: 16 top;
    background-repeat: no-repeat !important;
    cursor: pointer !important;
    overflow: hidden;
    line-height: 1000px;
    background-image: url(stalk.png)
}

#stalk_window .stalk_button:hover {
    background-color: #333
}

#stalk_window #stalk_sizebutton:hover {
    background-color: #333
}

#stalk_window #stalk_logoutbutton:hover {
    background-color: #333
}

#stalk_window .stalk_message_notification_nickname {
    display: none
}

#stalk_window .stalk_message_notification {
    clear: both;
    display: block !important;
    text-indent: 0 !important;
    padding: 2px 14px 2px 14px !important;
    margin: 1px 0 10px -20px !important;
    zoom: 1;
    color: white !important;
    -ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorstr=#88000000,endColorstr=#88000000)";
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr=#88000000, endColorstr=#88000000);
    background-color: rgba(0, 0, 0, 0.5) !important;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
    font-size: 12px;
}

#stalk_window button:disabled {
    color: #fff
}

#stalk_window #stalk_panel #stalk_contents a, #stalk_window #stalk_panel #stalk_conversation a {
    color: #246092
}

#stalk_window #stalk_panel #stalk_contents a:visited, #stalk_window #stalk_panel #stalk_conversation a:visited {
    color: #246092
}

#stalk_window #stalk_panel #stalk_contents a:active, #stalk_window #stalk_panel #stalk_conversation a:active {
    color: #246092
}

@-webkit-keyframes pulse {
    0% {
    }
    50% {
        background-color: rgba(255, 0, 0, 0.7)
    }
    100% {
    }
}

@-webkit-keyframes tab_in_bottom {
    0% {
        margin-bottom: -50px;
        padding-bottom: 10px
    }
    50% {
        margin-bottom: 0;
        padding-bottom: 15px
    }
    100% {
        padding-bottom: 10px
    }
}

@-webkit-keyframes tab_in_top {
    0% {
        margin-top: -50px;
        padding-top: 10px
    }
    50% {
        margin-top: 0;
        padding-top: 15px
    }
    100% {
        padding-top: 10px
    }
}

.stalk_status_compressed .stalk_window_fixed_bottom #stalk_topbar {
    -webkit-animation-name: tab_in_bottom;
    -webkit-animation-duration: 1s;
    -webkit-animation-iteration-count: 1;
    -webkit-animation-direction: alternate;
    -webkit-animation-timing-function: ease-in-out
}

#stalk_window .stalk_topbar_highlighted {
    background: #d05c34 none repeat scroll 0 0;
    color: #FFF;
    -webkit-animation-name: pulse;
    -webkit-animation-duration: 3s;
    -webkit-animation-iteration-count: 2;
    -webkit-animation-direction: alternate;
    -webkit-animation-timing-function: ease-in-out
}

.stalk_status_compressed .stalk_window_fixed_bottom #stalk_sizebutton {
    background-position: -80px top !important
}

.stalk_status_expanded .stalk_window_fixed_bottom #stalk_sizebutton {
    background-position: -96px top !important
}

.stalk_status_compressed .stalk_window_fixed_bottom #stalk_logoutbutton {
    background-position: -0px top !important
}

.stalk_status_expanded .stalk_window_fixed_bottom #stalk_logoutbutton {
    background-position: -0px top !important
}

#stalk_window * {
    box-sizing: content-box;
    -moz-box-sizing: content-box;
    -o-box-sizing: content-box
}

a.stalk_panel_title_fg {
    color: !important
}

.stalk_panel_title_fg {
    color: !important
}

.stalk_panel_bg {
    background-color: white !important
}

.stalk_message_fg {
    color: !important
}

.stalk_panel_title_bg {
    background-color: #360909 !important
}

div.stalk_window_width {
    width: 300px !important
}

div.stalk_panel_height {
    height: 200px !important
}

.stalk_window_fixed_bottom {
    position: fixed;
    bottom: 0;
    top: auto
}

.stalk_window_fixed_left {
    position: fixed;
    right: auto;
    left: 0
}

.stalk_window_fixed_right {
    position: fixed;
    right: 0;
    left: auto
}

.stalk_window_position {
    bottom: 0;
    position: fixed;
    right: 0;
    margin-right: 10px;
    margin-bottom: 10px
}

.stalk_window_position_inline {
}

.stalk_window_position_floating {
    bottom: 0;
    position: fixed;
    right: 0;
    margin-right: 10px;
    margin-bottom: 10px
}

.stalk_window_position_floating_ie {
    bottom: 0;
    position: absolute;
    right: 0;
    margin-right: 10px;
    margin-bottom: 10px
}

.stalk_panel_title_bg_blink {
    background-color: #5C5E5A !important
}

#stalk_window #stalk_loginform {
    padding: 5px 5px 0 65px
}

#stalk_window .stalk_login_button {
    float: left;
    margin-top: -1px;
    margin-left: 4px;
    padding: 0;
    border-radius: 5px !important;
    -moz-border-radius: 5px !important;
    -webkit-border-radius: 5px !important;
    background-position: 0 top;
    background-repeat: no-repeat !important;
    cursor: pointer !important;
    overflow: hidden;
    background-image: url(login.png)
}

#stalk_window .stalk_login_button:hover {
    background-color: #333
}

#stalk_window #stalk_myimage {
    position: absolute;
    right: 3px;
    bottom: 2px;
    border-radius: 30px;
    z-index: 998;
    width: 25px;
    display: none;
}
